<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CustomValidatorDlls" value="SmartSolution.Utlities.Tests"/>
    <add key="shareCacheServerIP" value=""/>
    <add key="shareCacheServerPort" value="21763"/>
    <add key="serverHost" value=""/>
    <add key="serverPort" value="21762"/>
    <add key="ErrorDomain" value="10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
